@model WebUI.DTOs.ExcelUploadFile
@using DataAccessLayer.Enum

@{
    ViewData["Title"] = "Department Course Allocation Record Upload";
}

<div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 10px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">New Course Allocation Record</h1>
                <a asp-controller="Home" asp-action="Index" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Course Allocation File</a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8 mt-5">

        <div class="card login-logout-card">
            <div class="card-header">
                <h3 class="card-title text-primary">Upload Excel File</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-12 my-4">
                        <form enctype="multipart/form-data" method="post" asp-controller="CourseAllocation" asp-action="UploadCourseAllocation">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="form-floating my-2">
                                <select asp-for="Session" class="form-control" asp-items="@(new SelectList(ViewBag.Sessions, "Title", "Title"))">
                                    <option disabled selected>Select Academic Session ...</option>
                                </select>
                                <label asp-for="Session"></label>
                                <span asp-validation-for="Session" class="text-danger"></span>
                            </div>


                            <div class="form-floating my-2">
                                <select asp-for="Semester" class="form-control" asp-items="Html.GetEnumSelectList<SemesterEnum>()">
                                    <option disabled selected>Select Semester...</option>
                                </select>
                                <label asp-for="Semester"></label>
                                <span asp-validation-for="Semester" class="text-danger"></span>

                            </div>

                            <div class="form-floating my-2">
                                <p class="text-info">
                                    Please kindly select only <b>EXCEL</b> file!
                                </p>
                            </div>

                            <div class="form-floating my-2">
                                <input asp-for="ExcelFile" type="file" class="form-control" aria-describedby="UploadFile">
                                <label asp-for="ExcelFile"></label>
                                <span asp-validation-for="ExcelFile" class="text-danger"></span>
                            </div>

                            <div class="d-grid gap-2 col-md-12 mx-auto mt-2">
                                <div id="loaderDiv1" class="text-center">
                                <p class="text-info text-center">Please kindly click once and wait until you get a response after your upload finished processing!</p>
                                    <img src="~/img/load.gif" width="80" height="80" class="img-circle img-thumbnail" />
                                </div>
                                <input type="submit" id="btnUpload" value="Upload Now" class="btn btn-primary fw-bold px-3 fw-bolder" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            $("#loaderDiv1").hide();

            //$("#Session").attr('disabled', 'false');
            //$("#Semester").attr('disabled', 'false');
            //$("#Session").attr('disabled', 'false');
            //$("#ExcelFile").attr('disabled', 'false');


            $("#btnReset").click(function () {
                $("#loaderDiv1").hide();
            })

            $("#btnUpload").click(function () {
                $("#loaderDiv1").show();
                //$("#Session").attr('disabled', 'true');
                //$("#Semester").attr('disabled', 'true');
                //$("#ExcelFile").attr('disabled', 'true');
            })
            

        })
    </script>
}