@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" style="color:white">Profile</a>
        <div class="dropdown-menu m-0">
            
            <a id="manage" class="nav-link text-danger" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">User</a>
            @if (User.IsInRole("HOD") || User.IsInRole("Lecturer") || User.IsInRole("DepartmentICT"))
            {
                <a asp-area="" asp-controller="LecturerManager" asp-action="Index" class="dropdown-item" title="Lecturer Details">Lecturer</a>
            }
            @if (User.IsInRole("HOD") || User.IsInRole("SchoolOwner") || User.IsInRole("Admin") || User.IsInRole("DepartmentICT"))
            {
                           <a asp-area="" asp-controller="AdminManager" asp-action="Index" class="dropdown-item" title="Admin Manager">Manager</a>
            }
            
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <a class="btn btn-primary py-1 px-4 ms-3" id="register" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    <a class="btn btn-primary py-1 px-4 ms-3" id="login" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
}



@*<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>*@


