@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 10px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Unauthorized User</h1>
                <a asp-controller="Home" asp-action="Index" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Classified</a>
            </div>
        </div>
    </div>
</div>

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>
</header>
