

@model WebUI.DTOs.CourseBankViewModel

<form id="frmCourse">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.DepartmentID)

    <div class="form-floating my-2">
        <input asp-for="Title" class="form-control" autocomplete="on" aria-required="true" />
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-floating my-2">
        <input asp-for="Code" class="form-control" autocomplete="on" aria-required="true" />
        <label asp-for="Code"></label>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-floating my-2">
        <input asp-for="Unit" class="form-control" autocomplete="on" aria-required="true" />
        <label asp-for="Unit"></label>
        <span asp-validation-for="Unit" class="text-danger"></span>
    </div>

    <div style="text-align: center;" id="loaderDiv1">
        <img src="~/img/load.gif" width="80" height="80" class="img-circle img-thumbnail" />
    </div>

    <div class="d-grid gap-2 col-md-12 mx-auto mt-2">
        <a href="#" class="btn btn-primary submit fw-bold px-3 fw-bolder" id="btnSaveUpdate">
            @if (!String.IsNullOrEmpty(Model.Title))
            {
                <span>Update</span>
            }
            else
            {
                <span>Save</span>
            }
        </a>
    </div>
</form>



<script>

    $(document).ready(function () {
        $("#loaderDiv1").hide();

        $('#btnSaveUpdate').attr('disabled', 'true');

        $('#Unit').on('input change', function () {
            if ($(this).val() != 0 &&
                $(this).val() != '' &&
                $("#Code").val().trim() != '') {
                $("#btnSaveUpdate").removeAttr("disabled");
            }
            else {
                $('#btnSaveUpdate').attr('disabled', 'true');
            }
        });


        $("#btnSaveUpdate").click(function () {

            $("#loaderDiv1").show();
           

            var frmData = $("#frmCourse").serialize();
            var data = frmData;


            $.ajax({
                type: "POST",
                url: "/CourseManager/Index",
                data: data,
                success: function (result) {
                    
                        $("#loaderDiv1").hide();
                        $("#AddEditModal").modal("hide"); //TO HIDE MODAL AFTER SAVING RECORD
                        window.location.href = "/CourseManager/Index";
                    
                }
            })
        })

    })
</script>

